@charset "UTF-8";
body {
    background-image:url('https://i.pinimg.com/736x/84/70/94/847094a5d2df67f4fc7a7a6b77bcfe7b.jpg');
    background-size: cover;
    background-position:center;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 2px 10px black;
    border-radius: 8px; 
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top:10px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px; 
    cursor: pointer;
    width:25%;
    margin-inline:auto;
}

.submit-button:hover {
    background-color: orange; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}
tr{
	background-color:darkgrey;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: grey; 
}
.button{
	display: inline-block; 
	padding: 10px 20px; 
	color: white; 
	background-color: orange; 
	border: none; 
	border-radius: 30px; 
	text-decoration: none; 
}
